div.home {

    div.intro {
        height : 80vh;
        width : 100%;
        background-image : url("img/index-background.jpeg");
        background-position: center center;
        background-size: cover;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        color: white;
    }
    .category_image {
        width: 45px;
        height: 45px;
    }

    div.filters {

    }

}

