div.home {

    div.intro {
        height : 80vh;
        width : 100%;
        background-image : url("img/index-background.jpeg");
        background-position: center center;
        background-size: cover;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        div {
            margin-right: auto;
            margin-left: 5%;
        }
        input {
            border: 2px solid #bbb;
            text-overflow: ellipsis;
        }
    }
    .category_image {
        width: 75px;
        height: 75px;
    }
    

    div.filters {
        flex-wrap: wrap;
        justify-content: flex-start;

        div {
            margin-bottom: 30px;
        }
    }

}

