.container a:first-child{
	display: flex;
	flex-direction: row;

	.brand{
		margin: 15px;
	}
}

.container{
	.nav-item{
        display: flex;
		.nav-link{
			display: flex;
			flex-direction: row;
			font-size: 18px;
            align-items: center;
            div {
                margin: 10px;
            }
		}
	}
}
